<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.roadpass.icecreamroll">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
        </intent>
    </queries>


    <application
        android:name="com.roadpass.icecreamroll.AppObject"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"

        android:usesCleartextTraffic="true"
        android:largeHeap="false"
        android:launchMode="singleTask"
        android:resizeableActivity="false"
        android:stateNotNeeded="true"
        android:taskAffinity=""
        android:theme="@style/Home.Light">

        <meta-data android:name="applovin.sdk.key"
            android:value="X4PxbyMNSE4K_UW5tdAUJG5rdaW1M5w4BU4NQc9r8b-OtuyBeqRMN3df1upuhRLgbvurdfyc3hSwZdImXetnxA"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name="com.roadpass.icecreamroll.activity.RightSwipeScreen"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="com.roadpass.icecreamroll.activity.onboardactivity.OnBoardActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.roadpass.icecreamroll.activity.FakeLauncherActivity"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.roadpass.icecreamroll.activity.HomeActivity"
            android:clearTaskOnLaunch="true"
            android:exported="true"
            android:launchMode="singleTask"
            android:stateNotNeeded="true"
            android:taskAffinity=""
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.roadpass.icecreamroll.activity.AutoFinishActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
            android:exported="true"
            android:name="com.nononsenseapps.filepicker.FilePickerActivity"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.roadpass.icecreamroll.activity.AddShortcutActivity"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="true"
            android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.content.pm.action.CONFIRM_PIN_SHORTCUT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.roadpass.icecreamroll.browser.BrowserActivity"
            android:icon="@drawable/browser"
            android:label="Browser"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="${applicationId}.action.BROWSER"/>
                <category android:name="android.intent.category.APP_BROWSER"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!--To create a web browser icon in app drawer-->
        <activity
            android:name="com.roadpass.icecreamroll.iceCreamGameLaunch.IceCreamGameEntryActivity"
            android:icon="@mipmap/ic_launcher"
            android:label="Ice Cream Roll"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <receiver
            android:exported="true"
            android:name="com.roadpass.icecreamroll.receivers.DeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
        </receiver>

        <receiver
            android:exported="true"
            android:name="com.roadpass.icecreamroll.receivers.ShortcutReceiver"
            android:permission="com.android.launcher.permission.INSTALL_SHORTCUT">
            <intent-filter>
                <action android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
            </intent-filter>
        </receiver>

        <service
            android:exported="true"
            android:name="com.roadpass.icecreamroll.notifications.NotificationListener"
            android:enabled="true"
            android:label="@string/icon_badge_service_title"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>